*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.intro{
    display: flex;
    position: relative;
    width: 100%;
    height: 105vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    perspective: 1000px;
    transform-style: preserve-3d;
    background-color: rgb(198, 247, 245);
    filter: hue-rotate(0deg);
}

.intro h1{
    font-size: 4.5rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 0px 0px 3px black;
}

.intro button{
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    border: none;
    box-shadow: 0px 0px 4px black;
    color: gray;
    border-radius: 50px;
    padding: 6px 60px 6px 60px;
    margin-bottom: 30px;
    background-color: white;
}

.intro button:hover{
    cursor: pointer;
}

.content{
    width: 100%;
    height: 100vh;

}

/*Esfera*/
.ball{
    position: absolute;
    width: 90vw;
    height: 90vw;
    box-shadow: inset -5px -5px 20px rgba(164, 202, 226, 0.5), inset -30px -80px 100px rgba(45, 80, 102, 0.5);
    border-radius: 50%;
    bottom: 10;
    z-index: -2;
    overflow: hidden;
}

.mark{
    position: absolute;
    border-radius: 50%;
    filter: opacity(0.5) hue-rotate(300deg);
    z-index: -1;
}

.grid{
    position: absolute;
    width: 90vw;
    height: 1px;
    box-shadow: 0px 1px rgba(152, 138, 179, 0.5), 0px 3vw rgba(152, 138, 179, 0.5);
    filter: opacity(0.5) hue-rotate(300deg);
    z-index: -1;
}

.first{
    top: 45vw;
}

.second{
    top: 26vw;
}

.third{
    top: 63vw;
}

.fourth{
    top: 10vw;
}

.fifth{
    top: 79vw;
}

.sixth{
    top: -1vw
}

.one{
    width: 90vw;
    height: 90vw;
    box-shadow: inset 2px 0px rgba(152, 138, 179, 0.5);
    animation: spin1 10s cubic-bezier(0.5, 0.5, 1, 1) infinite;
}

.two{
    width: 70vw;
    height: 90vw;
    box-shadow: inset 2px 0px rgba(152, 138, 179, 0.5);
    animation: spin2 10s cubic-bezier(0.5, 0.5, 1, 1) infinite;
}

.three{
    width: 40vw;
    height: 90vw;
    box-shadow: inset 2px 0px rgba(152, 138, 179, 0.5);
    animation: spin3 10s cubic-bezier(0.5, 0.5, 1, 1) infinite;
}

.four{
    width: 1vw;
    height: 90vw;
    box-shadow: inset -2px 0px rgba(152, 138, 179, 0.5);
    animation: spin4 10s cubic-bezier(0.5, 0.5, 1, 1) infinite;
}

.five{
    width: 40vw;
    height: 90vw;
    box-shadow: inset -2px 0px rgba(152, 138, 179, 0.5);
    animation: spin5 10s cubic-bezier(0.5, 0.5, 1, 1) infinite;
}

.six{
    width: 70vw;
    height: 90vw;
    box-shadow: inset -2px 0px rgba(152, 138, 179, 0.5);
    animation: spin6 10s cubic-bezier(0.5, 0.5, 1, 1) infinite;
}
@keyframes spin1 {
    0%{
        width: 90vw;
    }

    100%{
        width: 70vw;
    }
}

@keyframes spin2 {
    0%{
        width: 70vw;
    }

    100%{
        width: 40vw;
    }
}

@keyframes spin3 {
    0%{
        width: 40vw;
    }

    100%{
        width: 0.1vw;
    }
}

@keyframes spin4 {
    0%{
        width: 0.1vw;
    }

    100%{
        width: 40vw;
    }
}

@keyframes spin5 {
    0%{
        width: 40vw;
    }

    100%{
        width: 70vw;
    }
}

@keyframes spin6 {
    0%{
        width: 70vw;
    }

    100%{
        width: 90vw;
    }
}

@media only screen and (min-width: 768px) {
    .intro{
        position: fixed;
        flex-direction: row;
        gap: 30px;
        height: 60px;
        box-shadow: 0px 0px 4px black;
    }

    .intro h1{
        font-size: 3.2rem;
    }

    .intro button{
        font-size: 1.3rem;
        margin-bottom: 0;
    }
}